:root{
    --azul: #06121E;
    --azul-forte: #040f1a;
    --azul-claro: #0c2135;
    --black: #090d11;
    --black-escuro: #06090c;
    --black-claro: #1a1f25;
    --white: #fefbff;
    --red: #D94140;
    --redforte: #b42b2b;
}